.main-header {
  padding: 20px 0;
  background-color: $color-dark;

  .wrapper {
    padding: 0 32px;

    @include media-breakpoint-down(sm) {
      padding: 0 16px;
    }
  }
}

.logo {
  display: block;

  img {
    width: 110px;
  }
}

.privacy-link {
  display: block;
  text-decoration: none;
  color: #d6d6d6;
  font-size: 16px;
  font-family: $font-bold;
  border-bottom: 1px solid transparent;
  @include transition(.2s);

  &:hover {
    color: #fff;
    text-decoration: none;
    border-color: #fff;
  }
}